* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  
  background-image: url("https://picsum.photos/1020/720");
}
.card__info1, .list__wheater{
  background: #fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.ctn__wheater {
  text-align: center;
  padding: 50px;
  width:  min(70% 400px);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  width: fit-content;
  background: #fff;
}
button{
border-radius: 5px;
border: none;
width: 150px;
height: 50px;
margin: 10px;

}
